/*
    Header
*/

header {
    min-height: 70vh;
    align-items: center;
    margin-bottom: 5vh;
}

header p {
    margin-bottom: 5px;
}

.icon-shelf {
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 15px;
    margin-top: 20px;
}

.icon-shelf a:hover {
    transform: scale(1.1);
}

.icon-shelf img {
    height: 30px;
    width: 30px;
}

.jake-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.big-img {
    width: 75%;
    border-radius: 50%;
}

@media (max-width: 767.98px) {

    .jake-img {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .jake-content {
        padding: 0 10%;
    }

    header h1 {
        margin-top: 40px;
    }

    header img {
        float: initial;
        width: 90%;
    }
}

/*
    Background Section
*/

.background-container {
    background-color: #214C63;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.background-container h1 {
    text-align: center;
}

.background-content {
    width: 70%;
    margin-left: 15%;
    margin-top: 40px;
}

.background-container .col-md-6 {
    padding: 0 20px;
}

.background-content p {
    font-size: 20px;
    font-weight: 300;
}

.background-content a {
    text-decoration: none;
    color: #7575FF;
}

/*
    Contact
*/
.contact-container {
    width: 50%;
    margin-left: 25%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-container h1 {
    text-align: center;
    margin-bottom: 40px;
}

.contact-container h3 {
    text-align: center;
}

.contact-container .row {
    margin-bottom: 20px;
}

.contact-container textarea {
    margin-bottom: 20px;
}

.contact-container button {
    color: #7575FF;
    border-color: #7575FF;
}

/*
    Instagram
*/
.insta-container {
    background-color: #214C63;
    padding: 5rem;
}

.insta-container>*:first-child {
    justify-content: center;
}

.insta-container>*:first-child>* {
    border: 6px solid white;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

/*
    Responsive
*/
@media only screen and (max-width: 1000px) {

    .contact-container .row {
        flex-direction: column;
        gap: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .contact-container {
        width: 80%;
        margin-left: 10%;
    }

    .insta-container {
        padding: 2rem;
    }
}