.project {
    padding: 3rem;
    min-height: 300px;
    color: black;
    display: flex;
}

.project .img {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.project .img img {
    max-height: 150px;
    max-width: 250px;
}

.project .content {
    flex: 2;
    margin-left: 20px;
}

.project .content h1,
h2 {
    font-family: 'QuicksandSemiBold', sans-serif;
}

.project .content h2 {
    font-size: 16px;
    font-weight: bold;
}

.project .content .para {
    font-size: 22px;
    width: 80%;
    padding: 15px 0;
    font-weight: 300;
}

.project .tech {
    display: flex;
    align-items: center;
    gap: 10px;
}

.project .tech p {
    padding: 3px 15px;
    border-radius: 30px;
}

.project .links {
    display: flex;
    gap: 10px;
}

/* Colour Options */

.p-purple {
    background-color: rgba(117, 117, 255, 0.8);
}

.p-purple .tech p {
    background-color: white;
}

.p-white .tech p {
    background-color: rgba(117, 117, 255, 0.8);
    color: white;
}

button {
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
}

button:hover {
    transform: translateY(-3px);
}

.p-purple button {
    background-color: white;
}

.p-white button {
    background-color: rgba(117, 117, 255, 0.8);
    color: white;
}

/* Responsive */

@media only screen and (max-width: 1000px) {
    .project {
        flex-direction: column;
        gap: 30px;
    }

    .project .content .para {
        width: 100%;
    }

    .project .tech {
        flex-direction: column;
        gap: 0;
    }
}