/*
    Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

/*
    Whole Site
*/

body {
    background-color: #f8f8ff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/*
    Navigation
*/

.navbar {
    padding: 5vh 5vw;
}

.nav-item {
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
}

.nav-link {
    color: #7575FF;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav img {
    height: 50px;
}

.nav-item:hover {
    background-color: #7575FF;
}

.nav-item:hover .nav-link {
    color: white;
}

@media (max-width: 767.98px) {
    .navbar-nav img {
        height: initial;
        width: 100%;
    }

    .navbar-content {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}