body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand-Regular"),
    url("./fonts/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "QuicksandSemiBold";
  src: local("Quicksand-SemiBold"),
    url("./fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: bold;
}